Source: ndn-perl-mod-perl
Section: httpd
Priority: optional
Maintainer: Chris Weyl <chris.weyl@dreamhost.com>
Build-Depends: debhelper (>= 8.0.0),
 ndn-perl,
 ndn-perl-modules,
 ndn-lintian-profile,
 apache2-dev (>= 2.2),
 netbase
Standards-Version: 3.9.4
Homepage: http://perl.apache.org
Vcs-Git: https://github.com/dreamhost/dpkg-ndn-perl-mod-perl.git
Vcs-Browser: https://github.com/dreamhost/dpkg-ndn-perl-mod-perl

Package: ndn-perl-mod-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mod_perl for us!
 mod_perl linked against the perl in ndn-perl.
