#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# to make things easier when building against ndn-* versions
PERL       := /opt/ndn-perl/bin/perl
APXS       := /usr/bin/apxs2
APR_CONFIG := /usr/bin/apr-config

# ensure we don't ... contaminate ... anything
PERL5INC :=

%:
	dh $@ --parallel

override_dh_auto_configure:
	$(PERL) Makefile.PL INSTALLDIRS=vendor \
		MP_TRACE=0 \
		MP_USE_DSO=1 \
		MP_USE_STATIC=0 \
		MP_CCOPTS="$(CCFLAGS) -Wall" \
		MP_APXS=$(APXS) \
		PERL=$(PERL) \
		MP_APR_CONFIG=$(APR_CONFIG)

override_dh_auto_build:
	dh_auto_build --parallel -- MODPERL_OPTIMIZE="$(CFLAGS)" OPTIMIZE="$(CFLAGS)"

override_dh_auto_clean:
	dh_auto_clean
	git clean -f -X # remove all files git ignores (typically build artifacts)
